body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;
    font-weight: 500;
}

.colorize{
    color: orange;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 80%;
    
    
}
.top-section{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
    height: 500px;
}
.hire-button{
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(45deg, orange, salmon);
    border-radius: 3px;
    color: white;
    font-weight: 700;
}
.second-section h3{
    font-size: 40px;
}
h4{
    font-size: 25px;
}

p{
    color:dimgray;
}
.second-section{
    background-image: url("images/dream-bg.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;
    
    
}
.last-section{
    height: 500px;
}

.BOLD-TITLE{
    text-align: center;
}